@model Employee
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <input class="form-control" asp-for="Address" />
    <span asp-validation-for="Address"></span>
    <button type="submit">Save</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}